{% extends 'base.html.twig' %}

{% block title %}{{ 'Add an announce'|trans}}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ 'Add an announce'|trans}}</h1>
            {{ include('users/annonces/_form.html.twig', {form: form, button: 'Add'|trans}) }}
    </div>
{% endblock %}
